:root {
  --primary-color: #2c211c; 
  --secondary-color: #343646;
  --white-color: #ffffff;
  --beige-color: #f7ba90;
  --light-gray-color: #6E7382;
  --gap: 3rem;
}

::selection{
	background-color: var(--secondary-color);
	color: #f8f8f2;
}